.counter {
  width: fit-content;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

button {
  font-family: 'Bree Serif', serif;
  font-family: 'Fredoka One', cursive;
  font-family: 'Roboto', sans-serif;

}